@import './design-tokens.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  color: rgb(var(--lw-color-text-primary));
  background: rgb(var(--lw-color-surface-canvas));
}
